

<p style="color: green"><%= notice %></p>


<h1> CATEGORIE</h1>
<br>
<div id="contents">

  <div class="row">
    <div class="col-6 col-sm-4" >
    <ul class="sezioni-list">
      <% @category.each do |user| %>
        <li class="sezione-item">
          <span class="sezione-name"><%= user.name %></span>  </span>
        </li>
      <% end %>
    </ul>
    </div>
    <div class="col-6 col-sm-4" >
      <ul class="sezioni-list">
        <% @brand_data.each do |brand| %>
          <li class="sezione-item">
            <span class="sezione-name"><%= brand.name %></span>  </span>
          </li>
        <% end %>
      </ul>

    </div>


  </div>




</div>
<hr>
